.container {
    display: flex;
    flex-wrap: wrap;
  }
  
.Newscontainer {
box-sizing: border-box;
border: 5px solid #d3af10;
padding: 10px;
margin-bottom: 10px;
border-radius: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
flex: 1 0 40%; /* This means the boxes will grow and shrink as needed, and they won't be smaller than 40% of the container's width */
margin: 1%; /* Add a little margin around each box */
}

.Newscontainer h3 {
font-size: 2vw;
}

.Newscontainer img {
width: 100%; /* Make the image take up the full width of its parent */
height: auto;
}